/* //top-bar// */
/* ************************************************************ */
.top-bar {
    background-color: #ff2a6b;
    padding: 1rem;
}

/* top-bar__row */
.top-bar__row {
    display: flex;
    justify-content: center;
    align-items: center;
}
@media only screen and (min-width: 768px) {
    .top-bar__row {
        justify-content: space-between;
    }
}
/* col-left */
.top-bar__col-left {
    display: none;
}
@media only screen and (min-width: 768px) {
    .top-bar__col-left {
        display: flex;
    }
}
.top-bar__col-left ul {
    display: flex;
}
.top-bar__col-left ul li {
    margin-right: 2rem;
}
.top-bar__col-left ul li a {
    color: #ffffff;
}

/* col-right */
.top-bar__col-right a,
.top-bar__col-right span {
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
}

/* //top-white// */
/* **************************************************** */
.top-white {
    position: relative;
}
.top-white__row {
    padding: 1rem 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* center */
.top-white__col-center {
    display: none;
}
@media only screen and (min-width: 768px) {
    .top-white__col-center {
        display: flex;
    }
}
.main-menu {
    display: flex;
}
.main-menu li {
    margin: 0 1rem;
}

.main-menu li a {
    font-weight: 500;
    color: #474747;
}
.main-menu li a:hover {
    color: #ff2a6b;
    cursor: pointer;
}
.main-menu li.active a {
    color: #ff2a6b;
    font-weight: bold;
}
/* right */
.top-white__col-right {
    display: flex;
}
.header-search {
    border-radius: 4px;
    background-color: #ff2a6b;

    display: flex;
    justify-content: center;
    align-items: center;
}
.header-search a {
    padding: 0.6rem 0.8rem;
    color: #ffffff;
}

.nav-switch {
    margin-left: 1rem;
    padding: 0.6rem;
    border: 1px solid #ddd;

    display: flex;
    justify-content: center;
    align-items: center;
}
@media only screen and (min-width: 768px) {
    .nav-switch {
        display: none;
    }
}
.nav-switch i {
    font-size: 1.5rem;
}
.nav-switch__menu {
    display: none;
    z-index: 1;
}
.nav-switch:hover .nav-switch__menu {
    display: block;
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;

    background-color: #ffffff;
}

.nav-switch__menu li {
    padding: 10px 0;
    padding-left: 15px;
    border-bottom: 1px solid #ddd;
}
.nav-switch__menu li.li-start {
    border-top: 2px solid #ddd;
}

.nav-switch__menu li a {
    color: #474747;
}
li.active a {
    color: #ff2a6b;
    font-weight: bold;
}
.nav-switch__menu li a:hover {
    color: #ff2a6b;
}
