/* banner */
.banner {
    background-image: url(/images/page-top-bg.jpg);
    background-position: top center;
    background-size: cover;
}
.banner-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-title h1 {
    margin: 4.25rem 0;
    padding: 5px 30px;
    border-radius: 4px;

    display: inline-block;

    font-size: 48px;
    font-weight: 700;
    color: #fff;
    background-color: #ff2a6b;
    text-align: center;
    line-height: 1.2;

    box-shadow: 0px 90px 100px rgba(0, 0, 0, 0.4);

    animation-name: zoom;
    animation-duration: 1s;
}
@media only screen and (min-width: 375px) {
    .banner-title h1 {
        /* padding: 0; */
        font-size: 64px;
    }
}
@media only screen and (min-width: 425px) {
    .banner-title h1 {
        font-size: 72px;
    }
}
@keyframes zoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
